@import url('https://fonts.googleapis.com/css2? family= Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500; 12..96.600;12..96.700;12..96.800 & família= Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,40 0;1.500 ;1.600;1.700;1.800;1.900 & display=swap');

header{
    display: flex;
    align-items: center;
    column-gap: 64px;

    width: 100%;
    max-width: 1440px;
    padding-top: 24px;
}

header img{
    width: 70px;
    height: auto;
}

.navigation{
    display: flex;
    align-items: center;
    column-gap: 48px;
    list-style: none;
}

.navigation *{
    transition: .2s;
}

.navigation:hover > * {
    opacity: 0.3;
}

.navigation > * {
    pointer-events: auto;
}

.navigation:hover > *:hover {
    opacity: 1;
}

#titulo{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-left: 2%;
    transition: 0.3s linear;
    cursor: default;
}

#titulo:hover{
    transform: scale(1.1);
}

#logo{
    margin: auto;
    display: block;
    transition: 0.3s linear;
}

#logo:hover{
    transform: scale(1.1);
}

.navigation_link{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.navigation_link:hover{
    color: #0ed2e0;
}

.navigation_link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 60%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
}
.navigation_link:hover::after{
    transform: scale(1);
    transform-origin: left;
    transition: transform 0.4s;
}

.navigation_social{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.navigation_social svg{
    width: 20px;
    height: 20px;
    opacity: 0.6;
    transition: all 0.4s;
}

.navigation_social svg:hover{
    opacity: 1;
    transform: translateY(-5px);
    cursor: pointer;
}

.bi-person-circle{
    color: #fff;
    position: relative;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    padding: 0%;
    margin: 0%;
}




/* Responsive styles */
@media screen and (max-width: 1000px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
  }
  
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .navigation_link {
    margin: 30px 0;
    font-size: 16px; 
    text-align: center;
    cursor: pointer;
  }

  .navigation_social {
    margin-top: 50px;
    margin-bottom: 10px;
  }
  #titulo{
    font-size: 33px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  
  }
  #botao{
    cursor: pointer;
  }
}
